<div style="margin:20px; border:solid; border-color:rgb(37, 1, 1);">
<h1 style="padding:10px; background-color:rgb(37, 1, 1); color:rgb(190, 212, 190)">Your Dashboard</h1>
<ul style="margin:20px; padding:0">
    {{!-- NEED TO MAKE THIS THE POSTS FOR JUST THAT USER --}}
    {{#each posts}}
        <li style="border:solid; border-color:rgb(37, 1, 1); margin:10px; list-style-type:none;">
            <div style="background-color:rgb(37, 1, 1); color:rgb(219, 221, 219); padding:10px">
                <a href="api/post/{{id}}" style="color: rgb(219, 221, 219); font-weight:bold; font-size:large">{{title}}</a>
                <span class="d-flex justify-content-end"style="font-size:smaller">
                    Posted at {{format_date created_at}}
                </span>
            </div>
            <p style="color:rgb(37, 1, 1); padding:10px; margin-bottom:0">{{body}}</p>
        </li>
    {{/each}}
</ul>
</div>